/*Сброс стилей по умолчанию*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

b {
    text-transform: uppercase;
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

.map img {
    max-width: none;
}

a:focus {
    outline: 0;
}

iframe {
    width: 100%;
    border: none;
    display: inline-block;
}

::-moz-selection {
    background: #2850DE;
    color: #ffffff;
}

/*========================*/

/* Настройка типографики */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
    font-family: 'Open Sans';
}

h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: calc(45px * 1.2);
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: calc(32px * 1.2);
}

h3 {
    font-size: 24px;
    line-height: calc(30px * 1.2);
}

h4 {
    font-size: 25px;
    line-height: calc(25px * 1.2);
}

h5 {
    font-size: 16px;
    line-height: calc(16px * 1.2);
}

h6 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

/*========================*/

/*Основные стили*/

body {
    background-color: #333;
}


.text__wrapper {
    padding: 150px 10px 50px 10px;
    max-width: 960px;
    margin: 0 auto;
}

.text__wrapper h2 {
    text-align: center;
}

.text__wrapper p {
    font-family: 'Open Sans';
    font-weight: 300;
}

/*========================*/