.sim-slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* General styles */
.sim-slider {
    position: relative;
    height: 700px;
    width: 800px;
    margin: 0 auto;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    height: 700px;
    width: 800px;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */

.arrows {
    position: relative;
    top: 45%;
    width: 100%;
}

div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 0;
    background-image: url(/icons/left-arrow.svg);
    background-size: 100%;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 0;
    background-image: url(/icons/right-arrow.svg);
    background-size: 100%;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1199.98px) {
    .sim-slider {
        width: 400px;
        height: 500px;
    }

    .sim-slider-element {
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 459.98px) {
    .sim-slider {
        width: 250px;
        height: 300px;
    }

    .sim-slider-element {
        width: 250px;
        height: 300px;
    }
}